<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h2>Links</h2>
        <ul>
            <% for(var i=0;i<links.length;i++) {%>
                <li><%= links[i].short_link %></li>
            <%}%>
        </ul>
    </body>
</html>